button {
  cursor: pointer;
  border-radius: 10px;
  &.sm {
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    background: none;
    margin: 0 5px;
    font-size: 1rem;
    color: #fff;
  }
  &.lg {
    display: block;
    width: 406px;
    height: 50px;
    border: none;
    background: blue;
    font-size: 1rem;
    color: #fff;
    margin: 10px auto;
  }
}

@media (max-width: 826px) {
  button {
    &.sm {
      display: block;
      width: 50% !important;
      margin-bottom: 10px;
    }
    &.lg {
      display: block;
      width: 50% !important;
      margin-left: 5px !important;
    }
  }
}