@import '../../../styles/libs/keyframes';

.info {
  .overview, .screenshot {
    display: inline-block;
    vertical-align: top;
  }
  h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 26px;
      background: lightblue;
      margin-right: 10px;
    }
  }
  .tab-menu {
    margin-top: 1rem;
    padding-left: 3.5rem;
    display: flex;
    li {
      margin: 0 10px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;
      padding-bottom: 10px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #000;
      }
    }
  }
  .overview {
    width: 60%;
    padding: 3.5rem;
    p {
      font-size: 1rem;
      line-height: 1.3;
    }
    .main-gallery {
      width: 100%;
      margin-top: 20px;
    
      img {
        border-radius: 20px;
        &.active {
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 2s;
        }

      }
    }
  }

  .screenshot {
    width: 40%;
    padding: 3.5rem;
  }

  .info-item {
    display: inline-block;
    width: 200px;
    height: 120px;
    margin: 10px 0;
    cursor: pointer;
    &:nth-child(odd) { margin-right: 10px; }
    img {
      border-radius: 10px;
    }
  }
}

@media (max-width: 826px) {
  .overview, .screenshot {
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important
  }

  .info {
    li {
      width: 48%;
    }
  }
}